{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td>Model</td>
            <td>Marka</td>
            <td>System</td>
            <td>Urządzenie</td>
        </tr>
    {% for d in devices %}
        <tr>
            <td>{{ d.model }}</td>
            <td>{{ d.brand }}</td>
            <td>{{ d.system }}</td>
            <td>{{ d.type.name }}</td>
            <td><span><a href="#" class="accept" data-id="{{ d.id }}">| Accept</a></span></td>
            <td><span><a href="#" data-id="{{ d.id }}" class="decline">| Cancel</a></span></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block javascripts %}
    <script>

        $('.accept').click(function () {

            let data = $(this).attr('data-id');
            $.ajax({
                url: "{{ path('api_accept') }}",
                type: "Put",
                data: {data: data},
                async: false,
                success: function(response){

                    alert(response);
                }
            });
        });

        $('.decline').click(function () {

            let data = $(this).attr('data-id');
            $.ajax({
                url: "{{ path('api_decline') }}",
                type: "Delete",
                data: {data: data},
                async: false,
                success: function(response){

                    alert(response);
                }
            });
        });

    </script>
{% endblock %}